# Python Phase
This code is the skeleton part of the Construct Week. Here is where most of the alterations happen based on the requirements so that it can be broken down easily for one to understand what's trending.

Setting up the libraries for the code to be imported and worked on.

In [32]:
# Importing all the essential libraries to work on.
import os
import mysql.connector
from sqlalchemy import create_engine
import glob
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

Python has the ability to actually input data from HERE and push it into the MySQL server database and proceed for further analysis. However, certain libraries and complex codes are required for them to work. It requires a connector and an engine to insert the following data into the database.

In [33]:
# Creating a connector so that the server can be connected here.
db_connector = mysql.connector.connect(
    host = "127.0.0.1",       
    username = "root",
    password = "Zfyum59hamsad",
    database = "trendtrackers"
)

# A custom message that displays if the operation has been successful.
print(f"You have successfully connected to your database.")

You have successfully connected to your database.

**The Python Phase and MySQL databases are successfully connected!**

Let us also connect the engine so that the data can be added once we are done handling it.

In [34]:
# This engine will be another verification so that all the records made here can be added into the database.
engine = create_engine(f"mysql+mysqlconnector://{"root"}:{"Zfyum59hamsad"}@{"127.0.0.1"}/{"trendtrackers"}")
print("The connection to the MySQL Engine is now functional.")

The connection to the MySQL Engine is now functional.

**The MySQL Engine is connected!**

Let us import the datasets and begin handling it and import it into the database.

In [93]:
# Path to your dataset files (e.g., CSV files)
file_paths = glob.glob("D:/Masai School/Unit - 3/Construct Week/Datasets/*.csv")  # Adjust the pattern for your file type

# Iterate through the files and add a filename column
dataframes = []
for file in file_paths:
    df = pd.read_csv(file)  # Load the dataset
    df['Source_File'] = os.path.basename(file)  # Extract only the filename
    dataframes.append(df)

# Combine all datasets into one DataFrame
merged_df = pd.concat(dataframes, ignore_index=True)
merged_df

,Date,Open,High,Low,Close,Adj Close,Volume,Source_File
0,1980-03-17,290.000000,310.000000,290.000000,290.000000,290.000000,10000,BRK-A.csv
1,1980-03-18,290.000000,290.000000,290.000000,290.000000,290.000000,0,BRK-A.csv
2,1980-03-19,290.000000,310.000000,290.000000,290.000000,290.000000,20000,BRK-A.csv
3,1980-03-20,290.000000,290.000000,290.000000,290.000000,290.000000,0,BRK-A.csv
4,1980-03-21,290.000000,290.000000,290.000000,290.000000,290.000000,0,BRK-A.csv
...,...,...,...,...,...,...,...,...
69544,2024-09-13,133.479996,133.949997,132.929993,133.649994,133.649994,1811500,YUM.csv
69545,2024-09-16,134.429993,135.479996,133.789993,134.559998,134.559998,1929300,YUM.csv
69546,2024-09-17,134.589996,135.210007,132.160004,132.350006,132.350006,2009600,YUM.csv
69547,2024-09-18,132.399994,133.100006,130.270004,130.600006,130.600006,2186200,YUM.csv
69548,2024-09-19,132.119995,132.509995,129.970001,131.089996,131.089996,2616500,YUM.csv

It looks like one of the Source_File named as 'BRK-A'. This can lead to issues that may not allow an average analyst to mention or deal with the specific row properly. Let us handle it.

In [94]:
# Renaming the file.
merged_df['Source_File'] = merged_df['Source_File'].str.replace('BRK-A', 'BRK_A', regex=False)
merged_df

,Date,Open,High,Low,Close,Adj Close,Volume,Source_File
0,1980-03-17,290.000000,310.000000,290.000000,290.000000,290.000000,10000,BRK_A.csv
1,1980-03-18,290.000000,290.000000,290.000000,290.000000,290.000000,0,BRK_A.csv
2,1980-03-19,290.000000,310.000000,290.000000,290.000000,290.000000,20000,BRK_A.csv
3,1980-03-20,290.000000,290.000000,290.000000,290.000000,290.000000,0,BRK_A.csv
4,1980-03-21,290.000000,290.000000,290.000000,290.000000,290.000000,0,BRK_A.csv
...,...,...,...,...,...,...,...,...
69544,2024-09-13,133.479996,133.949997,132.929993,133.649994,133.649994,1811500,YUM.csv
69545,2024-09-16,134.429993,135.479996,133.789993,134.559998,134.559998,1929300,YUM.csv
69546,2024-09-17,134.589996,135.210007,132.160004,132.350006,132.350006,2009600,YUM.csv
69547,2024-09-18,132.399994,133.100006,130.270004,130.600006,130.600006,2186200,YUM.csv
69548,2024-09-19,132.119995,132.509995,129.970001,131.089996,131.089996,2616500,YUM.csv

In [95]:
# Rounding up all the decimals so that it can be easy to understand.
merged_df = merged_df.round(2)
merged_df

,Date,Open,High,Low,Close,Adj Close,Volume,Source_File
0,1980-03-17,290.00,310.00,290.00,290.00,290.00,10000,BRK_A.csv
1,1980-03-18,290.00,290.00,290.00,290.00,290.00,0,BRK_A.csv
2,1980-03-19,290.00,310.00,290.00,290.00,290.00,20000,BRK_A.csv
3,1980-03-20,290.00,290.00,290.00,290.00,290.00,0,BRK_A.csv
4,1980-03-21,290.00,290.00,290.00,290.00,290.00,0,BRK_A.csv
...,...,...,...,...,...,...,...,...
69544,2024-09-13,133.48,133.95,132.93,133.65,133.65,1811500,YUM.csv
69545,2024-09-16,134.43,135.48,133.79,134.56,134.56,1929300,YUM.csv
69546,2024-09-17,134.59,135.21,132.16,132.35,132.35,2009600,YUM.csv
69547,2024-09-18,132.40,133.10,130.27,130.60,130.60,2186200,YUM.csv
69548,2024-09-19,132.12,132.51,129.97,131.09,131.09,2616500,YUM.csv

**Handling Data**

In [96]:
# Dropping any rows that consist of MISSING VALUES.
merged_df = merged_df.dropna()
merged_df

,Date,Open,High,Low,Close,Adj Close,Volume,Source_File
0,1980-03-17,290.00,310.00,290.00,290.00,290.00,10000,BRK_A.csv
1,1980-03-18,290.00,290.00,290.00,290.00,290.00,0,BRK_A.csv
2,1980-03-19,290.00,310.00,290.00,290.00,290.00,20000,BRK_A.csv
3,1980-03-20,290.00,290.00,290.00,290.00,290.00,0,BRK_A.csv
4,1980-03-21,290.00,290.00,290.00,290.00,290.00,0,BRK_A.csv
...,...,...,...,...,...,...,...,...
69544,2024-09-13,133.48,133.95,132.93,133.65,133.65,1811500,YUM.csv
69545,2024-09-16,134.43,135.48,133.79,134.56,134.56,1929300,YUM.csv
69546,2024-09-17,134.59,135.21,132.16,132.35,132.35,2009600,YUM.csv
69547,2024-09-18,132.40,133.10,130.27,130.60,130.60,2186200,YUM.csv
69548,2024-09-19,132.12,132.51,129.97,131.09,131.09,2616500,YUM.csv

In [97]:
# Filling any missing values with a specific value.
merged_df = merged_df.fillna('DefaultValue')
merged_df

,Date,Open,High,Low,Close,Adj Close,Volume,Source_File
0,1980-03-17,290.00,310.00,290.00,290.00,290.00,10000,BRK_A.csv
1,1980-03-18,290.00,290.00,290.00,290.00,290.00,0,BRK_A.csv
2,1980-03-19,290.00,310.00,290.00,290.00,290.00,20000,BRK_A.csv
3,1980-03-20,290.00,290.00,290.00,290.00,290.00,0,BRK_A.csv
4,1980-03-21,290.00,290.00,290.00,290.00,290.00,0,BRK_A.csv
...,...,...,...,...,...,...,...,...
69544,2024-09-13,133.48,133.95,132.93,133.65,133.65,1811500,YUM.csv
69545,2024-09-16,134.43,135.48,133.79,134.56,134.56,1929300,YUM.csv
69546,2024-09-17,134.59,135.21,132.16,132.35,132.35,2009600,YUM.csv
69547,2024-09-18,132.40,133.10,130.27,130.60,130.60,2186200,YUM.csv
69548,2024-09-19,132.12,132.51,129.97,131.09,131.09,2616500,YUM.csv

**Removing Duplicates**

In [98]:
merged_df = merged_df.drop_duplicates()
merged_df

,Date,Open,High,Low,Close,Adj Close,Volume,Source_File
0,1980-03-17,290.00,310.00,290.00,290.00,290.00,10000,BRK_A.csv
1,1980-03-18,290.00,290.00,290.00,290.00,290.00,0,BRK_A.csv
2,1980-03-19,290.00,310.00,290.00,290.00,290.00,20000,BRK_A.csv
3,1980-03-20,290.00,290.00,290.00,290.00,290.00,0,BRK_A.csv
4,1980-03-21,290.00,290.00,290.00,290.00,290.00,0,BRK_A.csv
...,...,...,...,...,...,...,...,...
69544,2024-09-13,133.48,133.95,132.93,133.65,133.65,1811500,YUM.csv
69545,2024-09-16,134.43,135.48,133.79,134.56,134.56,1929300,YUM.csv
69546,2024-09-17,134.59,135.21,132.16,132.35,132.35,2009600,YUM.csv
69547,2024-09-18,132.40,133.10,130.27,130.60,130.60,2186200,YUM.csv
69548,2024-09-19,132.12,132.51,129.97,131.09,131.09,2616500,YUM.csv

**Date and Time Cleaning**

In [102]:
# Ensuring that the date column is in the proper format.
merged_df['Date'] = pd.to_datetime(merged_df['Date'], errors = 'coerce')

In [104]:
# Let us extract the date seperately.
date_time['Year'] = merged_df['Date'].dt.year
date_time['Month'] = merged_df['Date'].dt.month
date_time['Day'] = merged_df['Date'].dt.day
date_time['Month_Name'] = merged_df['Date'].dt.month_name()
date_time['Day_Name'] = merged_df['Date'].dt.day_name()

date_time

C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1360148933.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_time['Year'] = merged_df['Date'].dt.year
C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1360148933.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_time['Month'] = merged_df['Date'].dt.month
C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1360148933.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_time['Day'] = merged_df['Date'].dt.day
C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1360148933.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_time['Month_Name'] = merged_df['Date'].dt.month_name()
C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1360148933.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_time['Day_Name'] = merged_df['Date'].dt.day_name()

       Year  Month  Day Month_Name   Day_Name
0      1980      3   17      March     Monday
1      1980      3   18      March    Tuesday
2      1980      3   19      March  Wednesday
3      1980      3   20      March   Thursday
4      1980      3   21      March     Friday
...     ...    ...  ...        ...        ...
69544  2024      9   13  September     Friday
69545  2024      9   16  September     Monday
69546  2024      9   17  September    Tuesday
69547  2024      9   18  September  Wednesday
69548  2024      9   19  September   Thursday

[69549 rows x 5 columns]

In [105]:
# Importing the date and time into a new table so that it can make more sense and can be filtered further more easily.
date_time.to_sql(
    'date_time',
    con=engine,
    index=False,
    if_exists='append'
)

# Custom message if the operation turns out successful.
print("A new table has been created and the data has been inserted successfully!")

A new table has been created and the data has been inserted successfully!

**Filtering the Rows to their specific source files**

In [106]:
# Checking out the unique files from the merged dataset for source files.
unique_df = merged_df['Source_File'].unique()
unique_df

array(['BRK_A.csv', 'DNUT.csv', 'DPZ.csv', 'LKNCY.csv', 'MCD.csv',
       'PZZA.csv', 'QSR.csv', 'SBUX.csv', 'WEN.csv', 'YUM.csv'],
      dtype=object)

In [107]:
# Looping through the unique source_files and creating new tables in MySQL.
for file in unique_df:

    # Filtering the rows based on the current source_files.
    filter_data = merged_df[merged_df['Source_File'] == file]

    # Creating a table name based on those source files.
    table_name = file.split('.')[0]

    # Inserting all the data into MySQL.
    filter_data.drop(columns=['Source_File'], inplace = True)
    
    # Pushing all the data into the MySQL database.
    filter_data.to_sql(
        table_name,
        con=engine,
        index = False,
        if_exists = 'replace'
    )

    # Custom message to ensure the operation has been completed successfully.
    print(f"Table '{table_name}' has been created and data has been inserted successfully.")

C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_data.drop(columns=['Source_File'], inplace = True)
C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:14: UserWarning: The provided table name 'BRK_A' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  filter_data.to_sql(
C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_data.drop(columns=['Source_File'], inplace = True)
C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:14: UserWarning: The provided table name 'DNUT' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  filter_data.to_sql(
C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_data.drop(columns=['Source_File'], inplace = True)

Table 'BRK_A' has been created and data has been inserted successfully.
Table 'DNUT' has been created and data has been inserted successfully.

C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:14: UserWarning: The provided table name 'DPZ' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  filter_data.to_sql(
C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_data.drop(columns=['Source_File'], inplace = True)
C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:14: UserWarning: The provided table name 'LKNCY' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  filter_data.to_sql(
C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_data.drop(columns=['Source_File'], inplace = True)

Table 'DPZ' has been created and data has been inserted successfully.
Table 'LKNCY' has been created and data has been inserted successfully.

C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:14: UserWarning: The provided table name 'MCD' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  filter_data.to_sql(
C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_data.drop(columns=['Source_File'], inplace = True)

Table 'MCD' has been created and data has been inserted successfully.

C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:14: UserWarning: The provided table name 'PZZA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  filter_data.to_sql(
C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_data.drop(columns=['Source_File'], inplace = True)
C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:14: UserWarning: The provided table name 'QSR' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  filter_data.to_sql(
C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_data.drop(columns=['Source_File'], inplace = True)

Table 'PZZA' has been created and data has been inserted successfully.
Table 'QSR' has been created and data has been inserted successfully.

C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:14: UserWarning: The provided table name 'SBUX' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  filter_data.to_sql(
C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_data.drop(columns=['Source_File'], inplace = True)

Table 'SBUX' has been created and data has been inserted successfully.

C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:14: UserWarning: The provided table name 'WEN' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  filter_data.to_sql(
C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_data.drop(columns=['Source_File'], inplace = True)

Table 'WEN' has been created and data has been inserted successfully.
Table 'YUM' has been created and data has been inserted successfully.

C:\Users\hamad\AppData\Local\Temp\ipykernel_29616\1322388346.py:14: UserWarning: The provided table name 'YUM' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  filter_data.to_sql(

With a set of data like this, it should be enough for us to make a proper dashboard to visualize the dataset to the audience and therefore show them how its done and how it can be manifested properly. 

Note that;
* The data has been properly cleaned.
* Different tables have been segregated based on the data given.
* All the codes have been pushed and implented to the MySQL server.